.resultList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 164px);

  .resultListCounter {
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    font: normal bold 14px/14px 'Open Sans', sans-serif;
    color: #000000;
  }

  .resultListContainer {
    flex: 1;
    overflow: auto;

    .card {
      padding: 15px 30px;
      border-bottom: 1px solid #ececec;

      h3 {
        margin: 0 0 15px;
        font: normal bold 16px/16px 'Open Sans', sans-serif;
        color: #FD9D34;
      }

      div {
        font: normal normal 14px/14px 'Open Sans', sans-serif;
        color: #333333;
      }
    }
  }
}