.searchForm {
  position: relative;
  margin: 30px;
  padding: 15px;
  background-color: #f5f5f5;

  label {
    display: block;
    margin-bottom: 10px;
    font: normal bold 14px/14px 'Open Sans', sans-serif;
    color: #000000;
  }

  input {
    height: 50px;
    width: 100%;
    padding: 0 65px 0 15px;
    border: 1px solid #FD9D34;
    box-sizing: border-box;
    font: normal normal 16px/16px 'Open Sans', sans-serif;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #FD9D34;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}